
.DS_Store
Clippy Board.xcodeproj/project.xcworkspace/xcuserdata/topscrech.xcuserdatad/UserInterfaceState.xcuserstate
Clippy Board.xcodeproj/project.xcworkspace/xcuserdata/topscrech.xcuserdatad/UserInterfaceState.xcuserstate
Clippy Board.xcodeproj/project.xcworkspace/xcuserdata/topscrech.xcuserdatad/UserInterfaceState.xcuserstate
Clippy Board.xcodeproj/project.xcworkspace/xcuserdata/topscrech.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
Clippy Board.xcodeproj/project.xcworkspace/xcuserdata/topscrech.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
